body {
    display: flex;
    flex-direction: column;
    background-color: beige;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    background-color: rgb(43, 45, 46);
    color: white;
}

.name {
    position: absolute;
    top: 20px;
    background-color: rgb(31, 150, 150);
    color: white;
    width: 20%;
    height: 50px;
    right: 82%;
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-top: 30px;
    margin-right: 50px;
    text-decoration: underline;
    text-underline-offset: 5px;

}

.links li {
    display: flex;
    margin-left: 60px;
    font-size: 24px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.links a {
    color: white;
}

.links a:hover {
    color: beige;
    font-weight: bold;
}

.About-Me {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 50px;
margin-left: 5%;
}



.About-Me h1,
#Work h1,
#Contact-Me h1 {
    display: flex;
    flex-direction: row;
    text-align: right;
    font-size: 70px;
    font-weight: bold;
    width: 15%;
    padding-right: 20px;
    border-right: solid rgb(31, 150, 150);
    border-width: 5px;
    height: 400px;
}


.About-Me p {
    text-align: left;
    font-size: 25px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 5%;
}

#bio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;
}


#Work {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}

#Work h1 {
    height: 900px;
}

#Work nav p {
    display: flex;
    flex-direction: row;
    text-align: left;
    height: 350px;
    width: 500px;
    font-size: 20px;
}


#Work nav {
    display: flex;
    margin-left: 100px;
    text-align: center;
}

.work-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}


.work-links1 {
    background-image: url(./Images/nature-stock-photo.jpg);
    background-size: cover;
    background-position: center;
    width: 600px;
    margin-right: 50px;
}

.work-links2 {
    background-image: url(./Images/beach-quotes-1559667853.jpg);
    background-size: cover;
    background-position: center;
    width: 600px;
    margin-right: 50px;
}

#Contact-Me {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}

#Contact-Me h1 {
    height: 100px;
    font-size: 30px;
  
    align-items: center;
}

#Contact-Links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 100px;
    font-size: 20px;
}

#Contact-Links p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
    text-decoration: underline;
    color: purple;
}
